<div class="sidebar-container scrollable">
  <div class="scrollable-header">
    <div class="sidebar-title">
      <div id="user-avatar" class="pull-left">
        <img src="images/avatar.png" alt="user avatar"/>
      </div>
      <div id="user-desc">
        <div id="user-name">Jim Shute</div>
        <div id="email">jimshute@hotmail.com</div>
      </div>
    </div>
    <ul class="button-list">
      <li id="org" class="org-space">
        <a>
          组织：<span>Organization</span>
          <i class="fa fa-caret-down"></i>
        </a>
      </li>
      <li id="space" class="org-space">
        <a>
          空间：<span>Space</span>
          <i class="fa fa-caret-down"></i>
        </a>
      </li>
    </ul>
  </div>
  <ul class="button-list scrollable-content">
    <li class="button">
      <a href="#"> <i class="fa fa-cube"></i>
        应用管理</a>
    </li>
    <li class="button">
      <a href="#"> <i class="fa fa-cloud"></i>
        服务管理</a>
    </li>
    <li class="button">
      <a href="#"> <i class="fa fa-info"></i>
        消息管理</a>
    </li>
    <li class="button">
      <a href="#"> <i class="fa fa-cog"></i>
        系统设置</a>
    </li>
    <li class="button">
      <a href="#"> <i class="fa fa-sign-out"></i>
        注销</a>
    </li>
  </ul>
</div>