<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css"/>
    <link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css"/>
    <link rel="stylesheet" href="stylesheets/login.css"/>
</head>
<body>
<div class="app">
    <div class="app-body">
        <div class="app-content">
            <div class="user-image">
                <img src="images/avatar.png" alt=""/>
            </div>
            <div class="login-form">
                <div class="email-block input-block">
                    <label class="fa fa-envelope-o"></label>
                    <input type="text" name="email" id="email" placeholder="email address..."/>
                </div>
                <div class="password-block input-block">
                    <label class="fa fa-lock"></label>
                    <input type="password" name="password" id="password" placeholder="password..."/>
                </div>
                <div class="button-block">
                    <a class="btn btn-default" id="login" href="javascript:;">登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script>
    $(function() {
        $('#login').on('click', function() {
            $.ajax({
                url: '/login',
                method: 'POST',
                data: {
                    userName: $('#email').val(),
                    password: $('#password').val()
                },
                success: function(data) {
                    location.href='/';
                },
                err: function() {

                }
            });
        });
    });
</script>
</body>
</html>
