<div ui-content-for="title">
  <span>服务市场</span>
</div>
<div ui-content-for="topbar-left">
  <div class="btn" ng-click="goBack()">
    <i class="fa fa-chevron-left"></i>
  </div>
</div>
<div ui-content-for="topbar-right">
  <a class="btn">
    <i class="fa fa-ellipsis-v"></i>
  </a>
  <!--<ul-->
  <!--class="dropdown-menu"-->
  <!--ui-outer-click="Ui.turnOff('barMenu')"-->
  <!--ui-outer-click-if="Ui.active('barMenu')"-->
  <!--role="menu"-->
  <!--ui-show="barMenu"-->
  <!--ui-state="barMenu"-->
  <!--ui-turn-off="barMenu">-->
  <!--<li><a class="m-btn" href="#/services"><i class="fa fa-plus"></i>添加服务实例</a></li>-->
  <!--</ul>-->
</div>
<div class="scrollable" ng-init="loadServiceList()">
  <ul class="scrollable-content m-list">
    <li ng-repeat-start="service in services | orderBy: 'service_type' | groupBy: ['service_type']"
        class="group-head bg-blue-grey-100"
        ng-show="service.group_by_CHANGED">
      <span ng-bind="service.service_type"></span>
    </li>
    <li ng-repeat-end class="m-list-item app-list-item m-has-img m-has-icon-right">
      <a href="#/services/{{service.guid}}">
        <img class="m-list-img" ng-src="/images/services/{{service.label}}.png"/>
        <i class="fa fa-angle-right m-list-icon m-two-line"></i>
        <div class="m-list-item-text m-two-line app-list-text">
          <div class="m-primary-text">
            <span ng-bind="service.label"></span>
          </div>
          <div class="m-secondary-text" ng-bind="service.description">

          </div>
        </div>
      </a>
    </li>
  </ul>
</div>