<div class="card">
  <div class="card-head {{titleColor}} {{titleFontColor}}">
    <span class="title" ng-bind="cardTitle">Card Title</span> <a href="javascript:;" ng-click="toggleExpand()"><i
      class="fa fa-angle-double-down {{cardExpanded ? 'rotated' : ''}}"></i></a>
  </div>
  <div class="card-body" ng-show="cardExpanded">
    <div class="card-content">
      <!--Hello-->
    </div>
    <div class="card-foot bg-blue-grey-100 t-blue-grey-600" ng-show="{{showFoot}}">
      <span class="foot-text">展开&nbsp;<i class="fa fa-angle-double-down"></i></span>
    </div>
  </div>
</div>