<div ui-content-for="title">
  <span>应用</span>
</div>
<div ui-content-for="topbar-left">
  <div class="btn" ng-click="goBack()">
    <i class="fa fa-chevron-left"></i>
  </div>
</div>
<div ui-content-for="topbar-right">
  <div class="btn">
    <i class="fa fa-ellipsis-v"></i>
  </div>
</div>
<div class="scrollable" ng-init="getList()">
  <ul class="scrollable-content m-list app-list">
    <li ng-repeat="app in apps" class="m-list-item app-list-item m-has-img m-has-icon-right">
      <a href="#/applications/{{app.guid}}">
        <img class="m-list-img" ng-src="/images/appFrameworks/{{app.app_type}}.png"/>
        <i class="fa fa-angle-right m-list-icon m-two-line"></i>
        <div class="m-list-item-text m-two-line app-list-text">
          <div class="m-primary-text">
            <span ng-bind="app.name"></span><span class="app-state {{appStatus[app.state].color}}" ng-bind="appStatus[app.state].text"></span>
          </div>
          <div class="m-secondary-text" ng-bind="app.urls[0]"></div>
        </div>
      </a>
    </li>
  </ul>
</div>
